.financeList {
  display: flex;
  flex-direction: column;
  gap: 25px;

  margin-top: 25px;

  font-family: var(--font-primary);
  font-weight: var(--font-weight-large);
}

.noCards {
  display: flex;
  justify-content: start;

  height: 120px;

  margin-top: 10px;
}

.financeListHeader {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.buttons {
  display: flex;
  justify-content: start;
  gap: 25px;
}

.button {
  height: 35px;

  padding-left: 10px;
  padding-right: 10px;

  background-color: var(--grey-2);

  border: none;
  border-radius: 8px;

  font-family: var(--font-secundary);
  font-weight: var(--font-weight-medium);

  cursor: pointer;
}

.button.active {
  background-color: var(--primary-color);
  color: var(--white);
}

.cardList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .financeList {
    width: 50%;

    margin-top: 0px;

    p {
      font-size: 20px;
    }
  }

  .noCards {
    display: block;
  }
}
