.dashboard {
  display: flex;
  flex-direction: column;

  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

.formSection {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

@media (min-width: 768px) {
  .dashboard {
    flex-direction: row;
    justify-content: space-between;

    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .formSection {
    width: 45%;
  }
}
