.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  height: 434px;

  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;

  border: 1px solid #00000033;

  font-family: var(--font-secundary);
  font-weight: var(--font-weight-small);
  font-size: 14px;
}

.formValues {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formDescription {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputs {
  height: 53px;

  background-color: var(--grey-1);

  border: 2px, solid, var(--grey-1);
  border-radius: 8px;

  padding-left: 16px;
  padding-right: 16px;

  font-size: 16px;
}

.select {
  cursor: pointer;
}

.formButton {
  height: 48px;

  background-color: var(--primary-color);

  border: 2px, solid, var(--primary-color);
  border-radius: 8px;

  color: var(--white);

  font-size: 16px;

  cursor: pointer;
}
